
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
<title>在庫管理システム</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>


</head>

<body class="p-3 bg-dark">
	<div class="container_fluid">
		<div class="row">
			<div class="col-6">
				<h1 class="text-light">在庫状況一覧</h1>
			</div>
			<div class="col-2">
			</div>
			<div class="col-2">
				<a href="{% url 'shippinghistory' %}"><button class="btn btn-success w-100"">出荷状況</button></a>
			</div>
			<div class="col-2">
				<a href="{% url 'shipping' %}"><button class="btn btn-danger w-100">出荷</button></a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="bg-white p-3 my-3">
					<table class="container_fluid w-100">
						<tr class="mb-1 w-100">
							<th class="bg-dark text-white text-center"><p class="font-weight-bold py-2 my-2">商品</p></th> 
                {% for shop in shopdata %}
							<th class="bg-dark text-white text-center"><a href="{% url 'update' shop.id %}"><button class="btn btn-light text-dark font-weight-bold py-2 my-2 w-100">{{shop.shop}}</button></a></th>
                {% endfor %}
							<th class="bg-dark text-white text-center"><p class="font-weight-bold py-2 my-2">合計</p></th>
						</tr>
                {% for stock in data %}
                    <tr class="mb-1 w-100 border-bottom">
                    {% for instock in stock %}
                        <td class="bg-light p-2 font-weight-bold border-left border-right">{{instock|safe}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                    <tr class="mb-1 w-100">
                        <td class="bg-dark p-2 text-white text-center"><small>最終更新日</small></td>
                {% for date in recentdate %}
                        <td class="bg-dark p-2 text-white text-center"><small>{{date|date:"Y.m.j H:i:s"}}</small></td>
                {% endfor %}
                        <td class="bg-dark p-2 text-white text-center"><small>---</small></td>
                    </tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>