<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
<title>出荷：在庫管理システム</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS --><script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>



<script type="text/javascript">
<!--

function disp(){


	window.alert('更新完了しました。');


}

// -->
</script>
</head>

<body class="p-3 bg-dark">
	<div class="container">
		<h1 class="text-light"><a href="{% url 'index' %}">TOP</a>>>><a href="{% url 'shippinghistory' %}">出荷状況</a>>>>出荷確認</h1>
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-3 mb-3">
    				<form action="{% url 'shippingconfirm' id %}" method="post">
    					{% csrf_token %}
    					<p class="px-3" style="font-size:1.5rem">出荷id：{{id}}、出荷日：{{date|date:"Y.m.j h:i"}}</p>
    					<p class="px-3" style="font-size:1.5rem">{{form.fromshop}}から{{form.toshop}}へ</p>
    					<p class="px-3" style="font-size:1.5rem">{{form.item}}を</p>
    					<p class="px-3" style="font-size:1.5rem">{{form.num}}個</p>
    					<p class="px-3" style="font-size:1.5rem">受取：{{form.recieveFlag}}</p>
    					<p class="px-3" style="font-size:1.5rem">更新日：{{udate|date:"Y.m.j h:i"}}</p>

    					<input type="submit" class="btn btn-danger badge-pill" style="font-size:30px" value="更新する。">
                     </form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>